body {
 Background-color: #CB4030;
 margin-top: 100;
 margin-left: 0px;
 font-family: Verdana, Helvetica, Arial;
 font-size: 9pt;
 scrollbar-base-color:#FFFF99;scrollbar-track-color:#FFFF99;scrollbar-arrow-color:#802600; scrollbar-highlight-color:#802600;scrollbar-darkshadow-color:#FFFF99;scrollbar-shadow-color:#802600;
 }

 .box {
 padding: 10px;
 width: 800;
 height: 700;
 overflow: auto;
 border: 1px dotted white;
 }
a:link {
 color: #FF9999;
 font-family: Verdana, Helvetica, Arial;
 font-size: 10pt;
 font-weight: bold;
 text-decoration: none;
}
a:visited {
 color: #FF9999;
 font-family: Verdana, Helvetica, Arial;
 font-size: 10pt;
 font-weight: bold;
 text-decoration: none;
}
 a:hover {
 color: #FF9999;
 font-family: Verdana, Helvetica, Arial;
 font-weight: bold;
 font-size: 10pt;
 text-decoration: underline;
}